html(lang='en')
	head
		meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0')
		title QuikShop
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		link(rel='stylesheet', href='bootstrap_style.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		script(src='scripts.js')
	body
		div(class='container-fluid')
			div(class='row')
				div(class='col-xs-12')
					div(class='banner')
						img(src='quikshop_logo.png' style='max-width:50%; height: auto;')
			div(class='row')
				div(class='col-xs-12')
					ul(class='nav nav-tabs nav-justified')
						li(class='active'): a(data-toggle='tab' href='#welcome') Welcome
						li: a(data-toggle='tab' href='#blockchain') Live View of BlockChain
						li: a(data-toggle='tab' href='#contact') Contact Us

		div(class='tab-content')
			div(id='welcome' class='tab-pane fade in active')
				h2 Welcome to QuickShop

			div(id='blockchain' class='tab-pane fade')
				h2 Live View of BlockChain

			div(id='contact' class='tab-pane fade')
				h2 Contact Us!