<!DOCTYPE html>
<html>

<head>
  <title>QuickShop</title>
  <meta name="description" content="A cool thing made with Glitch">
  <link id="favicon" rel="icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" href="/app.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container">
    <div class="columns">
      <div class="column col-6">
        <h1>QuickShop</h1>
        <div class="form-group column col-9">
          <form action="/register" method="POST" enctype="multipart/form-data">
            <h3>Register</h3>
            <label class="form-label" for="register-form-name">Name</label>
            <input class="form-input" type="text" id="register-form-name" name="name" placeholder="Name">

            <label class="form-label" for="register-form-password">Password</label>
            <input class="form-input" type="password" name="password" id="register-form-password">

            <label class="form-label" for="register-form-picture">Picture</label>
            <input class="form-input" type="file" name="picture" id="register-form-picture">
            <input type="submit" value="submit" class="btn btn-primary">

            <img id="preview">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="/imageTools.js"></script>
<script>
document.getElementById('register-form-picture').onchange = function(evt) {
    ImageTools.resize(this.files[0], {
        width: 320, // maximum width
        height: 240 // maximum height
    }, function(blob, didItResize) {
        // didItResize will be true if it managed to resize it, otherwise false (and will return the original file as 'blob')
        document.getElementById('preview').src = window.URL.createObjectURL(blob);
        // you can also now upload this blob using an XHR.
    });
};
</script>


          </form>
        </div>
        <div class="form-group column col-9">
          <form action="/login" method="POST">
            <h3>Login</h3>
            <label class="form-label" for="login-form-name">Name</label>
            <input class="form-input" type="text" id="login-form-name" name="username" placeholder="Name">

            <label class="form-label" for="login-form-password">Password</label>
            <input class="form-input" type="password" name="password" id="login-form-password">
            <button class="btn btn-primary">Submit</button>

          </form>
        </div>
        <div class="form-group column col-9">
          <form action="/deleteUser" method="POST">
            <h3>Delete User</h3>
            <label class="form-label" for="delete-user-form-name">Name</label>
            <input class="form-input" type="text" id="delete-user-form-name" name="name" placeholder="Name">

            <input type="submit" value="submit" class="btn btn-primary">

          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>